<script setup lang="ts">
defineOptions({
  name: 'KeywordTable',
})
</script>

<template>
  <div>
    <client-only>
      <SeoAnalyze />
    </client-only>
  </div>
</template>

<route lang="yaml">
meta:
  layout: home
</route>
