<script setup lang="ts">
const {
  project,
  searchEngine,
  searchEngines,
  rangeDate,
  category,
  categories,
  group,
  groups,
  filter,
  filters,
  sort,
  updateSort,
  showLimit,
  showLimits,
  page,
  searchQuery,
} = useFilters()

const { data, loading, countPages } = useTable({
  project,
  searchEngine,
  rangeDate,
  category,
  group,
  searchQuery,
  filter,
  sort,
  showLimit,
  page,
})

const { data: completions, updateCompletions } = useSearchCompletion({
  project,
  searchEngine,
  rangeDate,
  category,
  group,
  filter,
})
</script>

<template>
  <div w-full flex gap-5 flex-col xl="flex-row">
    <el-select v-model="searchEngine" class="xl:w-50%" placeholder="Select">
      <el-option
        v-for="(value, key) in searchEngines"
        :key="key"
        :label="value"
        :value="key"
      />
    </el-select>
    <el-select
      v-model="category"
      class="xl:w-25%"
      multiple
      placeholder="Select"
    >
      <el-option
        v-for="(value, key) in categories"
        :key="key"
        :label="value"
        :value="key"
      />
    </el-select>

    <el-select v-model="group" class="xl:w-25%" multiple placeholder="Select">
      <el-option
        v-for="(value, key) in groups"
        :key="key"
        :label="value"
        :value="key"
      />
    </el-select>
  </div>

  <div py-2 />

  <div w-full flex gap-5 flex-col xl="flex-row">
    <el-select
      v-model="searchQuery"
      class="xl:w-65%"
      multiple
      filterable
      remote
      reserve-keyword
      placeholder="Search"
      :remote-method="updateCompletions"
    >
      <el-option
        v-for="item in completions"
        :key="item.key"
        :label="item.key"
        :value="item.key"
      />
    </el-select>
    <el-date-picker
      v-model="rangeDate"
      class="m-auto !w-full md: m-unset !w-unset"
      range
      type="daterange"
      range-separator="To"
      start-placeholder="Start date"
      end-placeholder="End date"
    />
  </div>

  <div py-2 />

  <el-radio-group v-model="filter" size="small" class="w-full">
    <el-radio-button v-for="(value, key) in filters" :key="key" :label="key" />
    <el-radio-button key="all" label="all" />
  </el-radio-group>

  <div py-2 />

  <SeoTable :data="data" :loading="loading" @sort-change="updateSort" />

  <div mt-2 flex justify-between>
    <div>
      Show:
      <el-select v-model="showLimit" class="w-80px" placeholder="Select">
        <el-option
          v-for="limit in showLimits"
          :key="limit"
          :label="limit"
          :value="limit"
        />
      </el-select>
    </div>

    <el-pagination
      v-model:current-page="page"
      background
      layout="prev, pager, next"
      :page-count="countPages"
    />
  </div>
  <div my-5 />
</template>

<route lang="yaml">
meta:
  layout: default
</route>
