<script setup lang="ts">
import { Link, PriceTag } from '@element-plus/icons-vue'
import type { TableList } from '../types'

defineProps<{ data: TableList; loading: boolean }>()
const emit = defineEmits(['sortChange'])
const height = document.getElementById('app').clientHeight
</script>

<template>
  <div :style="{ height: height + 'px' }">
    <el-table
      v-if="data.length > 0"
      v-loading="loading"
      :data="data"
      :height="height"
      @sort-change="emit('sortChange', $event)"
    >
      <el-table-column type="expand" fixed width="50">
        <template #default="props">
          <b>Related Searches:</b>
          <p>
            <template v-for="search in props.row.rich.relatedSearches">
              {{ search }},
            </template>
          </p>
          <div py-2 />
          <b>Related Questions</b>
          <p>
            <template
              v-for="question in props.row.rich.relatedQuestions"
              :key="question"
            >
              <p>
                {{ question.question }}
              </p>
              <p>
                {{ question.answer }}
              </p>
              <div py-2 />
            </template>
          </p>
        </template>
      </el-table-column>
      <el-table-column
        label="Keyword"
        fixed
        prop="key"
        sortable="custom"
        min-width="350"
      />
      <el-table-column label="Url" fixed prop="url" align="center">
        <template #default="props">
          <el-popover
            placement="top-start"
            :width="200"
            trigger="hover"
            :content="props.row.url"
          >
            <template #reference>
              <a :href="props.row.url" target="_blank">
                <el-button text :icon="Link" />
              </a>
            </template>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="Snip" prop="snip" align="center">
        <template #default="props">
          <el-popover
            placement="top-start"
            :title="props.row.title"
            :width="200"
            trigger="hover"
            :content="props.row.description"
          >
            <template #reference>
              <el-button text :icon="PriceTag" />
            </template>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column
        label="Clicks"
        prop="clicks"
        sortable="custom"
        min-width="100"
        align="center"
      />
      <el-table-column
        label="Impr"
        prop="impressions"
        sortable="custom"
        align="center"
      />
      <el-table-column
        label="CTR"
        prop="ctr"
        sortable="custom"
        align="center"
      />
      <el-table-column
        label="Avg Pos"
        prop="avg_pos"
        sortable="custom"
        min-width="120"
        align="center"
      />
      <template v-for="(value, key) in data[0].position" :key="key">
        <el-table-column
          :label="formatShortDate(String(key))"
          :prop="`${key}`"
          sortable="custom"
          min-width="95"
          align="center"
        >
          <template #default="params">
            {{ params.row.position[key] }}
          </template>
        </el-table-column>
      </template>
    </el-table>
  </div>
</template>
